<h1>Create a new cloud</h1>

<p>
Upload a text and you're done!
</p>

<form action="/new" method="post">

	<div>
	<textarea style="width: 100%" name="story" cols="120" rows="10">[% text %]</textarea>
	</div>

	<div>
	<input type="submit" value="CloudMe!" />
	</div>

</form>

[% cloud %]

