body  {
	background-color: #a4cad7;
	font-family: sans-serif;
}

#content {
	border: 2px #444 solid;
	background-color: #fff;
	color: #000;
}

div.tagcloud {
	font-weight: bold;
}


div.tagcloud div.row  {
	margin-bottom: 1em;
}

div.tagcloud div.row span {
	padding: 0.2em;
}
